backend/venv_project_front
backend/sellstuff/db.sqlite3
project_sellstuff/backend/sellstuff/db.sqlite3
backend/backend_venv
backend/sellsuff/manage.py
.idea/project_sellstuff.iml
project_sellstuff/backend/sellstuff/db.sqlite3
backend/sellstuff/main_app/pycache/init.cpython-312.pyc
backend/sellstuff/main_app/pycache/admin.cpython-312.pyc
backend/sellstuff/main_app/pycache/apps.cpython-312.pyc
backend/sellstuff/main_app/pycache/models.cpython-312.pyc
backend/sellstuff/main_app/pycache/serializer.cpython-312.pyc
backend/sellstuff/main_app/pycache/urls_for_include.cpython-312.pyc
backend/sellstuff/main_app/pycache/views.cpython-312.pyc
backend/sellstuff/main_app/migrations
backend/sellstuff/main_app/migrations/pycache
backend/sellstuff/sellstuff/pycache/init.cpython-312.pyc
backend/sellstuff/sellstuff/pycache/settings.cpython-312.pyc
backend/sellstuff/sellstuff/pycache/urls.cpython-312.pyc
backend/sellstuff/sellstuff/pycache/wsgi.cpython-312.pyc